---
import { and, eq } from "drizzle-orm";
import { drizzle } from "drizzle-orm/d1";
import config from "$config";
import { Email as EmailTable } from "$db/schema";
import { AESEncryption } from "$utils/token";
import Base from "$layouts/Base.astro";
import i18nit from "$i18n";

export const prerender = false;

export async function getStaticPaths() {
	// Create path for each locale, omitting default locale from URL
	return config.i18n.locales.map(locale => ({ params: { locale: config.i18n.defaultLocale === locale ? undefined : locale } }));
}

const { locale = config.i18n.defaultLocale } = Astro.params;

const t = i18nit(locale);

// Throw Not Found if ticket is missing
const ticket = Astro.url.searchParams.get("ticket");
if (!ticket) return new Response(null, { status: 404, statusText: "Not Found" });

/**
 * Validate email verification ticket
 * @param ticket The email verification ticket
 * @returns Validation result message
 */
async function validate(ticket: string) {
	// Decrypt ticket
	const claim = AESEncryption.decrypt(new Uint8Array(Buffer.from(ticket, "base64url")));
	if (!claim) return t("email.verify.invalid");

	// Initialize database connection
	const db = drizzle(Astro.locals.runtime.env.DB);

	// Parse drifter and address from claim
	const timestamp = new DataView(claim.buffer).getBigUint64(0, false);
	const identity = new TextDecoder().decode(claim.slice(8));
	const [drifter, address] = identity.split("|");
	if (!drifter || !address) return t("email.verify.invalid");

	// Check expiration
	const ExpirationDuration = 5 * 60 * 1000;
	if (BigInt(Date.now()) - timestamp > BigInt(ExpirationDuration)) return t("email.verify.expired");

	// Update email state to verified if drifter and address match and state is pending
	const result = await db
		.update(EmailTable)
		.set({ state: "verified" })
		.where(and(eq(EmailTable.drifter, drifter), eq(EmailTable.address, address), eq(EmailTable.state, "pending")))
		.returning();

	if (result.length === 0) {
		// Investigate reason for failure
		const result = await db
			.select({ state: EmailTable.state })
			.from(EmailTable)
			.where(and(eq(EmailTable.drifter, drifter), eq(EmailTable.address, address)))
			.get();

		if (!result) return t("email.verify.invalid");

		switch (result.state) {
			case "verified":
				return t("email.verify.already");

			default:
				return t("email.verify.invalid");
		}
	}

	return t("email.verify.success");
}
---

<Base {locale} title={t("navigation.email")}>
	<main class="grow-[0.25] flex items-center justify-center font-bold text-2xl">{validate(ticket)}</main>
</Base>
