---
import { i18n } from "astro:config/client";
import { getCollection } from "astro:content";
import Base from "$layouts/Base.astro";
import i18nit from "$i18n";
import { render } from "astro:content";

export async function getStaticPaths() {
	return i18n!.locales.map(locale => ({ params: { locale: locale == i18n?.defaultLocale ? undefined : (locale as string) } }));
}

const { locale = i18n!.defaultLocale } = Astro.params;

const t = i18nit(locale);

const information = await getCollection("information", information => {
	const [language, id] = information.id.split("/");
	information.id = id;
	return language == locale;
});

const subscription = information.find(info => info.id == "subscription");
const { Content } = subscription ? await render(subscription) : (null as any);
---

<Base title={t("nav.subscription")} {locale}>
	{
		Content && (
			<main class="markdown">
				<Content />
			</main>
		)
	}
</Base>
