@import "tailwindcss";

@plugin "@iconify/tailwind4" {
	prefixes: lucide, simple-icons, fa6-brands, svg-spinners;
}

:root {
	--primary-color: #2a2a28;
	--secondary-color: #50504d;
	--remark-color: #757575;
	--weak-color: #9f9f9c;
	--background-color: #fffffd;
	--block-color: #eeeeee;
	--shadow-color: #cdcdcc;
	--selection-color: #adadacc3;

	--swup-fade-theme-duration: 0.15s;
}

@media (prefers-color-scheme: dark) {
	:root {
		--primary-color: #dddddb;
		--secondary-color: #aaaaa8;
		--remark-color: #a5a5a5;
		--weak-color: #5d5d5a;
		--background-color: #0e0e0c;
		--block-color: #1e1e1e;
		--shadow-color: #323231;
		--selection-color: #adadacc3;
	}

	.astro-code,
	.astro-code span {
		color: var(--shiki-dark) !important;
		background-color: var(--shiki-dark-bg) !important;
	}
}

[data-theme="dark"] {
	--primary-color: #dddddb;
	--secondary-color: #aaaaa8;
	--remark-color: #a5a5a5;
	--weak-color: #5d5d5a;
	--background-color: #0e0e0c;
	--block-color: #1e1e1e;
	--shadow-color: #323231;
	--selection-color: #adadacc3;
}

/* Language-specific fonts */
:lang(zh-cn) {
	--font-serif: var(--font-noto-serif-sc);
}

:lang(ja) {
	--font-serif: var(--font-noto-serif-jp);
}

[data-theme="dark"] .astro-code,
[data-theme="dark"] .astro-code span {
	color: var(--shiki-dark) !important;
	background-color: var(--shiki-dark-bg) !important;
}

@layer base {
	* {
		margin: 0;
		padding: 0;
		box-sizing: border-box;
		font-family: inherit;
		user-select: none;
		-webkit-tap-highlight-color: transparent;
	}

	*::selection {
		background-color: var(--selection-color);
	}

	*::-webkit-scrollbar {
		background-color: transparent;
		width: 5px;
		height: 5px;
	}

	*::-webkit-scrollbar-thumb {
		border-radius: 5px;
		background-color: var(--primary-color);
	}

	@supports not selector(::-webkit-scrollbar) {
		* {
			scrollbar-width: thin;
			scrollbar-color: var(--primary-color) transparent;
		}
	}

	html {
		scroll-behavior: smooth;
		overflow-x: clip;
	}

	body {
		font-size: 1.0625rem;
		font-family: var(--font-serif), var(--font-mono);
		color: var(--primary-color);
		background-color: var(--background-color);
		overflow-x: clip;
	}

	@media screen and (max-width: 640px) {
		body {
			font-size: 1rem;
		}
	}

	h1,
	h2,
	h3,
	h4,
	h5,
	h6 {
		font-weight: bold;
	}

	h1 {
		font-size: 2.25rem;
	}

	h2 {
		font-size: 1.75rem;
	}

	h3 {
		font-size: 1.5rem;
	}

	h4 {
		font-size: 1.25rem;
	}

	h5 {
		font-size: 1.125rem;
	}

	h6 {
		font-size: 1rem;
	}

	a {
		text-decoration: none;
		color: inherit;
		-webkit-user-drag: none;
	}

	button {
		display: flex;
		border: none;
		color: inherit;
		font-size: inherit;
		cursor: pointer;
		background: transparent;
	}

	button[disabled] {
		color: var(--weak-color);
		cursor: not-allowed;
	}

	input,
	textarea {
		color: var(--primary-color);
	}

	textarea {
		line-height: 1.5;
	}

	img {
		max-width: 100%;
		height: auto;
		-webkit-user-drag: none;
	}

	svg {
		fill: currentColor;
	}

	hr {
		border: none;
	}
}

input[type="checkbox"].switch {
	position: relative;
	appearance: none;
	cursor: pointer;
	margin: 0px 5px;
	width: 2rem;
	height: 1rem;

	&::before {
		position: absolute;
		display: flex;
		content: "F";
		align-items: center;
		justify-content: center;
		inset-inline-start: 0;
		height: 1rem;
		width: 1rem;
		font-family: var(--font-monospace);
		font-size: 0.8rem;
		text-align: center;
		color: var(--background-color);
		background-color: var(--primary-color);
		z-index: 1;
		transition: inset-inline-start 0.15s ease-in;
	}

	&::after {
		position: absolute;
		content: "";
		bottom: 0.4rem;
		width: 100%;
		border-bottom: 2px solid var(--primary-color);
	}

	&:checked::before {
		content: "T";
		inset-inline-start: 1rem;
	}
}

.swup-progress-bar {
	--direction: to right;

	height: 0.15rem;
	background: linear-gradient(var(--direction), var(--block-color), var(--secondary-color));

	&:is(html[dir="rtl"] *) {
		--direction: to left;
		transform-origin: right center;
	}
}

.medium-zoom-overlay {
	z-index: 5;
}

.medium-zoom-image--opened {
	z-index: 5;
}

::view-transition-old(root),
::view-transition-new(root) {
	animation: none;
	mix-blend-mode: normal;
}

::view-transition-old(root) {
	z-index: 1;
}

::view-transition-new(root) {
	z-index: 10;
}

[data-theme="dark"]::view-transition-old(root) {
	z-index: 10;
}

[data-theme="dark"]::view-transition-new(root) {
	z-index: 1;
}

@theme {
	--color-primary: var(--primary-color);
	--color-secondary: var(--secondary-color);
	--color-remark: var(--remark-color);
	--color-weak: var(--weak-color);
	--color-background: var(--background-color);
	--color-block: var(--block-color);
	--color-shadow: var(--shadow-color);
	--color-selection: var(--selection-color);

	--font-serif: var(--font-noto-serif);
	--font-mono: var(--font-maple-mono-nf-cn);
	--font-cursive: var(--font-playwrite-mx), var(--font-the-peak-font-plus);

	@keyframes shaky {
		0% {
			transform: translate(0, 0) rotate(0deg);
		}
		10% {
			transform: translate(-1px, -2px) rotate(-1deg);
		}
		20% {
			transform: translate(-3px, 1px) rotate(1deg);
		}
		30% {
			transform: translate(2px, -1px) rotate(0deg);
		}
		40% {
			transform: translate(1px, 2px) rotate(1deg);
		}
		50% {
			transform: translate(-1px, -1px) rotate(-1deg);
		}
		60% {
			transform: translate(-3px, 1px) rotate(0deg);
		}
		70% {
			transform: translate(2px, 1px) rotate(-1deg);
		}
		80% {
			transform: translate(-1px, -2px) rotate(1deg);
		}
		90% {
			transform: translate(2px, 2px) rotate(0deg);
		}
		100% {
			transform: translate(0, 0) rotate(-1deg);
		}
	}

	--animate-shaky: shaky 0.6s infinite;
}

@media (prefers-reduced-motion: reduce) {
	:root {
		--animate-shaky: none;
	}
}

@layer components {
	.link {
		@apply underline decoration-transparent decoration-[0.05em] underline-offset-[0.15em] transition-[text-decoration-color] hover:decoration-current;
	}

	.input {
		@apply border-b-2 border-b-primary py-0.5 bg-transparent outline-none;
	}

	.form-button {
		@apply m-auto rounded py-1 px-2 text-background bg-secondary;
	}

	.pop {
		@apply opacity-0 invisible z-1 transition-[opacity,visibility] group-hover/pop:opacity-100 group-hover/pop:visible;
	}
}

@utility clip-path-hidden {
	clip-path: inset(0 0 0 100%);

	@variant ltr {
		clip-path: inset(0 100% 0 0);
	}
}

@utility clip-path-visible {
	clip-path: inset(0 0 0 0);

	@variant ltr {
		clip-path: inset(0 0 0 0);
	}
}
