@layer components {
	.markdown {
		line-height: 1.75;
		word-wrap: break-word;
		user-select: text;

		&,
		section {
			display: flex;
			flex-direction: column;
			gap: 0.8em;
			width: 100%;
		}

		h1,
		h2 {
			align-self: flex-start;
		}

		h1 {
			border-bottom: 4px solid;
		}

		h2 {
			border-bottom: 2px solid;
		}

		hr {
			border-bottom: 1px dashed var(--remark-color);
		}

		a {
			text-decoration: underline transparent 0.05em;
			text-underline-offset: 0.15em;
			transition: text-decoration-color 0.15s ease-in-out;

			&:hover {
				text-decoration-color: currentColor;
			}

			&[target="_blank"]::after {
				content: "\202F \202F";
				white-space: pre;
				font-size: 0.8em;
				vertical-align: 0.05em;
			}

			&:not([target="_blank"], [data-footnote-ref], [data-footnote-backref])::after {
				content: "\202F \202F";
				white-space: pre;
				font-size: 0.85em;
				vertical-align: 0.05em;
			}

			&[href^="mailto:"]::after {
				content: "\202F󱃝 \202F";
				white-space: pre;
				font-size: 0.9em;
				vertical-align: -0.1em;
			}
		}

		h1,
		h2,
		h3,
		h4,
		h5,
		h6 {
			&[id] a {
				text-decoration: none;

				&::after {
					content: "󰌷 ";
					margin: 0 0.3em;
					font-size: 0.8em;
					font-weight: normal;
					opacity: 0;
					transition: opacity 0.15s ease-in-out;
				}

				&:hover::after {
					opacity: 1;
				}
			}
		}

		ul {
			list-style: disc;
		}

		ol {
			list-style: decimal;
		}

		ul,
		ol {
			padding-inline-start: 1.2em;
		}

		.contains-task-list {
			list-style: none;

			li.task-list-item {
				position: relative;

				input[type="checkbox"] {
					position: absolute;
					appearance: none;
					-webkit-appearance: none;

					inset-inline-start: -0.9em;
					top: 0.55em;
					width: 0.7em;
					height: 0.7em;
					border: 1.5px solid var(--color-primary);

					&::before {
						content: "";
						position: absolute;
						display: block;

						width: 0.5em;
						height: 0.25em;

						border-left-width: 1.5px;
						border-bottom-width: 1.5px;
						border-color: transparent;

						inset-inline-start: 0.175em;
						bottom: 0.05em;

						transform-origin: left bottom;
						transform: rotate(-45deg);
					}

					&:checked::before {
						border-color: var(--color-primary);
					}
				}
			}
		}

		blockquote {
			border-inline-start: 4px solid var(--shadow-color);
			padding-inline-start: 1em;

			p {
				margin: 0;
				padding-bottom: 0.5em;
			}
		}

		code {
			border-radius: 0.3em;
			padding: 0.25em 0.5em;
			font-size: 0.8em;
			-webkit-user-drag: none;
			font-family: var(--font-mono);
		}

		:not(pre) > code {
			background-color: var(--block-color);
		}

		pre {
			position: relative;
			border-radius: 0.3em;

			> code {
				display: block;
				padding: 1em;
				line-height: 1.5;
			}
		}

		div.code-container {
			position: relative;

			> button.code-copy-button {
				position: absolute;
				top: 0.75em;
				inset-inline-end: 0.75em;
				width: 1em;
				height: 1em;
				color: var(--secondary-color);
				opacity: 0;
				visibility: hidden;
				transition:
					opacity 0.15s ease-in-out,
					visibility 0.15s ease-in-out;

				svg.done-icon {
					display: none;
				}

				&.code-copied {
					svg.copy-icon {
						display: none;
					}

					svg.done-icon {
						display: block;
					}
				}
			}

			&:hover button,
			button.code-copied {
				opacity: 1;
				visibility: visible;
			}
		}

		ruby rt {
			font-size: 0.6em;
		}

		mark {
			color: inherit;
			background-color: initial;
			text-decoration: underline wavy 0.05em;
			text-underline-offset: 0.1em;
		}

		figure:has(img) {
			display: inline-block;
			vertical-align: top;
			align-self: flex-start;

			img {
				max-width: 100%;
			}

			figcaption {
				font-size: small;
				font-weight: bold;
				text-align: center;
			}
		}

		div.table-wrapper {
			padding-bottom: 0.5em;
			overflow-x: auto;
		}

		table {
			border-collapse: collapse;
			border-top: 3px solid var(--primary-color);
			border-bottom: 3px solid var(--primary-color);
			text-align: center;

			th,
			td {
				padding: 5px 10px;
			}

			th[colspan] {
				border-bottom: 2px solid var(--primary-color);
			}

			thead tr:last-child {
				border-bottom: 2px solid var(--primary-color);
			}
		}

		sup:has(a[data-footnote-ref]) {
			top: 0;

			padding: 0 0.05em;
			font-size: 1em;
			transition:
				color 0.15s ease-in-out,
				background-color 0.15s ease-in-out;

			&:hover {
				color: var(--background-color);
				background-color: var(--secondary-color);
			}

			a {
				text-decoration: none;

				&::before {
					content: "[";
				}

				&::after {
					content: "]";
				}
			}
		}

		.footnotes {
			margin-top: 2.5em;
			border-top: 4px dotted var(--weak-color);
			padding-top: 1.5em;
			color: var(--remark-color);
			font-size: 0.8em;

			ol {
				padding: 0;
				list-style: none;
				counter-reset: footnote;

				li {
					display: flex;
					gap: 0.5em;
					align-items: start;

					counter-increment: footnote;

					&::before {
						content: "[" counter(footnote) "]";
					}

					a[data-footnote-backref] {
						padding: 0 0.25em;
						text-decoration: none;
						transition:
							color 0.15s ease-in-out,
							background-color 0.15s ease-in-out;

						&:hover {
							color: var(--background-color);
							background-color: var(--secondary-color);
						}
					}
				}
			}
		}

		/* GitHub-style alerts */
		.markdown-alert-note {
			--alert-color: var(--secondary-color);
		}

		.markdown-alert-tip {
			--alert-color: #48a131;
		}

		.markdown-alert-important {
			--alert-color: #3366cc;
		}

		.markdown-alert-warning {
			--alert-color: #bf8700;
		}

		.markdown-alert-caution {
			--alert-color: #ee3838;
		}

		.markdown-alert-note,
		.markdown-alert-tip,
		.markdown-alert-important,
		.markdown-alert-warning,
		.markdown-alert-caution {
			border-inline-start: 4px solid var(--alert-color);
			padding: 0px 1em 5px;
		}

		.markdown-alert-title {
			display: flex;
			align-items: center;
			color: var(--alert-color);
			font-weight: bold;

			svg {
				margin-inline-end: 8px;
			}
		}

		/* Spoiler text */
		.spoiler {
			filter: blur(3px);
			transition: filter 50ms;

			&:hover {
				filter: none;
			}
		}

		/* KaTeX math */
		.katex {
			* {
				font-family: "KaTeX_Main", var(--font-serif);
			}
		}

		.katex-display {
			margin: 0px;
			text-align: inherit;
			padding-bottom: 2px;
			overflow-x: auto;
			overflow-y: hidden;

			> .katex {
				text-align: inherit;
			}
		}
	}
}
