---
import { i18n } from "astro:config/client";
import { actions } from "astro:actions";
import { Token } from "$utils/token";
import Base from "$layouts/Base.astro";
import Icon from "$components/Icon.astro";
import Drifter from "$components/Drifter.svelte";
import i18nit from "$i18n";

export const prerender = false;

const { locale = i18n!.defaultLocale } = Astro.params;

const t = i18nit(locale);

const passport = await Token.check(Astro.cookies, "passport");
if (!passport?.visa) return Astro.redirect("/drifter/roam", 302);

const { data, error } = await Astro.callAction(actions.drifter.profile, null);
if (error) {
	switch (error.code) {
		case "UNAUTHORIZED":
			Token.revoke("passport", Astro.cookies);
			return Astro.redirect("/drifter/roam", 302);

		default:
			return Astro.redirect("/500", 302);
	}
}
---

<Base title={t("navigation.drifter")} {locale}>
	<main class="flex flex-col grow">
		<Drifter client:load {locale} drifter={data}>
			<Icon name="simple-icons:github" size={25} slot="GitHub" />
			<Icon name="simple-icons:google" size={25} slot="Google" />
			<Icon name="simple-icons:x" size={25} slot="X" />
			<Icon name="lucide:refresh-cw" title={t("drifter.sync.name")} size={18} slot="sync" />
			<Icon name="lucide:log-out" title={t("drifter.logout")} size={18} slot="signout" />
		</Drifter>
	</main>
</Base>
