---
import Icon from "$components/Icon.svelte";
import i18nit from "$i18n";

export interface Props {
	locale: string;
}

const { locale } = Astro.props;

const t = i18nit(locale);
---

<style>
	figure button {
		position: relative;
		display: flex;
		align-items: center;
		justify-content: center;

		width: 2rem;
		height: 2rem;

		border-width: 2px;
		border-style: solid;
		border-radius: 50%;

		padding: 5px;
		background-color: var(--background-color);

		box-shadow:
			0 4px 6px -1px rgb(0 0 0 / 0.1),
			0 2px 4px -2px rgb(0 0 0 / 0.1);
	}
</style>

<figure class="fixed right-[calc(20px+max(calc((100%-1100px)/2),0px))] bottom-5 sm:bottom-30 flex flex-col gap-2 z-3">
	<button aria-label="Scroll to Top" class="border-weak" onclick="document.scrollingElement?.scrollTo({top: 0, behavior: 'smooth'})">
		<Icon name="lucide--arrow-up-to-line" size={18} title={t("note.top")} />
		<svg class="absolute -top-0.5 -left-0.5 w-[calc(100%+4px)] h-[calc(100%+4px)] -rotate-90 transform-origin-center pointer-events-none">
			<circle id="progress-circle" cx="50%" cy="50%" r="calc(50% - 1px)" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" pathLength="100" stroke-dasharray="100" stroke-dashoffset="100"></circle>
		</svg>
	</button>
</figure>

<script>
	function updateProgress() {
		const content = document.querySelector("#markdown-content") as HTMLElement;
		if (content) {
			const progress = Math.min(1, Math.max(0, window.scrollY - content.offsetTop) / content.clientHeight);
			const circle = document.getElementById("progress-circle");
			if (circle) circle.style.strokeDashoffset = `${100 * (1 - progress)}`;
		}
	}

	window.addEventListener("scroll", updateProgress);
	updateProgress();
</script>
